body {
	margin: 0;
}

#navigation {
	position: absolute;
	top: 10em;
	right: 1em;
	background-color: #ddeeff;
	border-radius: 1em/5em;
	padding: 1em 0.5em 1em 1.5em;
	list-style: none;
	font-size: 0.9em;
	list-style: none inside none;
}

#navigation p {
	margin: 0.25em auto;
	font-weight: bold;
}

#navigation li {
	height: 1.5em;
	line-height: 1.5em;
	padding-left: 0.3em;
}

#content.trollface {
	text-align: center;
	min-height: 40em;
}

#content {
	border-bottom: thick solid black;
	padding-top: 2em;
	padding-left: 2em;
}

#content.admin {
	min-height: 18em;
}

#content.public {
}

#diagnostics {
	background-image: url('/livesite/static/stripes.png');
}