body {
	margin: 0;
	position: relative;
}

#navigation {
	position: absolute;
	top: 10em;
	right: 1em;
	background-color: #ddeeff;
	border-radius: 1em/5em;
	padding: 1em 0.5em 1em 1.5em;
	list-style: none;
	font-size: 0.9em;
	list-style: none inside none;
}

#navigation p {
	margin: 0.25em auto;
	font-weight: bold;
}

#navigation li {
	height: 1.5em;
	line-height: 1.5em;
	padding-left: 0.3em;
}

#runtimes {
	position: absolute;
	top: 2em;
	right: 1em;
	font-style: italic;
	background-color: #ffdddd;
	border-radius: 1em/5em;
	padding: 1em;
	list-style: none;
}

#body {
	padding: 1em;
}